<div class="module-tabs" aria-label="Secciones de deporte">
    <a href="{% url 'deporte:eventos_lista' %}" class="{% if active_tab == 'eventos' %}is-active{% endif %}">
        <i class="bi bi-calendar-event"></i> Eventos
    </a>
    <a href="{% url 'deporte:mercados_lista' %}" class="{% if active_tab == 'mercados' %}is-active{% endif %}">
        <i class="bi bi-diagram-3"></i> Mercados
    </a>
    <a href="{% url 'deporte:selecciones_lista' %}" class="{% if active_tab == 'selecciones' %}is-active{% endif %}">
        <i class="bi bi-check2-square"></i> Selecciones
    </a>
    <a href="{% url 'deporte:odds_lista' %}" class="{% if active_tab == 'odds' %}is-active{% endif %}">
        <i class="bi bi-graph-up-arrow"></i> Odds
    </a>
</div>
